@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color: #fff;
$accent-color: #65e496;
$gradient: 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%;

@mixin linear-gradient {
	background: -moz-linear-gradient($gradient);
	background: -webkit-linear-gradient($gradient);
	background: -ms-linear-gradient($gradient);
}

h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto Slab', serif;
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

.page-main {
	background-image: url(../img/bg-main.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-color;
	padding-bottom: 157px;
}

.page {
	padding-top: 161px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 41px;
	padding-bottom: 179px;
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../img/logo.svg);
	}
	&-list {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		font-family: 'Open Sans', serif;
		&__item {
			margin-left: 22px;
			padding-bottom: 5px;
			border-bottom:3px solid transparent;
			transition: 0.3s;
			&:hover {
				border-bottom:3px solid $accent-color;
			}
		}
		&__item.active {
			border-bottom:3px solid $accent-color;
		}
		&__link {
			color: $light-color;
			text-decoration: none;
			letter-spacing: 0.5px;
		}
	}
}

.block-text {
	flex-basis: calc(100% - 500px);
	&__name {
		font-family: 'Open Sans', serif;
		font-size: 18px;
		letter-spacing: 1.1px;
		margin-bottom: 33px;
	}
	&__name-top {
		margin-top: 16px;
		letter-spacing: 1px;
		margin-bottom: 19px;
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.8px;
		margin-bottom: 40px; 
		span {
			display: block;
			color: $accent-color;
			font-size: 18px;
			margin-top: 11px;
			letter-spacing: 0.85px;
		}
	}
	&__description {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 24px;
		letter-spacing: 0.75px;
		max-width: 573px;
	}
	&__button {
		display: block;
		@include linear-gradient;
		color: $light-color;
		text-decoration: none;
		max-width: 200px;
		border-radius: 3px;
		box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);
		text-align: center;
		font-size: 18px;
		padding: 14px 25px;
		margin-top: 46px;
		margin-bottom: 20px;
		letter-spacing: 0.7px;
	}
	&__button-padding {
		padding: 14px 18px;
	}
	small {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.55px;
	}
}

.block-book{
	display: flex;
	justify-content: space-between;
	&-demo{
		display: block;
		width: 447px;
		height: 643px;
		background-image: url(../img/book.svg);
		border-radius: 8px;
		background-repeat: no-repeat;
		flex-basis: 445px;
	}
}

.block-author {
	display: flex;
	justify-content: space-between;
}

.block-ava {
	position: relative;
	&__svg {
		position: absolute;
		right: 0;
		z-index: -1;
	}
	&__img {
		margin-top: 47px;
		margin-right: 44px;
	}
}